#define ISOLATION_AWARE_ENABLED 1
#include "windows.h"

//
// Include some icons. The icon with the lowest number seems to be
// the one which the Windows shell shows.
//

2	ICON	"resources\\aqua_button.ico"

